[submodule "apps/backend"]
	path = apps/backend
	url = https://github.com/lux-ai-factory/a4s-backend/
	branch = repo-restructure
[submodule "apps/eval"]
	path = apps/eval
	url = https://github.com/lux-ai-factory/a4s-eval/
	branch = repo-restructure
[submodule "apps/webapp"]
	path = apps/webapp
	url = https://github.com/lux-ai-factory/a4s-webapp/
	branch = repo-restructure
[submodule "plugin/plugin-interface"]
	path = plugin/plugin-interface
	url = https://github.com/lux-ai-factory/a4s-plugin-interface/
	branch = repo-restructure
[submodule "plugin/plugin-manager"]
	path = plugin/plugin-manager
	url = https://github.com/lux-ai-factory/a4s-plugin-manager/
	branch = repo-restructure
