[submodule "apps/backend"]
	path = apps/backend
	url = git@github.com:lux-ai-factory/vera-backend.git
[submodule "apps/eval"]
	path = apps/eval
	url = git@github.com:lux-ai-factory/vera-eval.git
[submodule "apps/webapp"]
	path = apps/webapp
	url = git@github.com:lux-ai-factory/vera-webapp.git
[submodule "shared/plugin-interface"]
	path = shared/plugin-interface
	url = git@github.com:lux-ai-factory/vera-plugin-interface.git
[submodule "shared/plugin-manager"]
	path = shared/plugin-manager
	url = git@github.com:lux-ai-factory/vera-plugin-manager.git
